/*Starter*/
body {
	background: #111;
	font-family: Arial;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.blob {
	position: absolute;
	filter: blur(60px);
	opacity: .5;
	right: 0;
	background-color: #6c236c;
	width: 12em;
	height: 12em;
	margin: 0;
	border-radius: .5em;
}

.title, .description {
	color: #fff; 
	font-family: monospace;
}

.code {
	background: #ccc;
	padding: 10px;
	border-radius: 10px;
	color: #000;
	font-family: monospace, Arial;
}

.github {
	text-decoration: none;
	color: #ccc;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*404 page*/
.container {
	text-align: center;
	margin-top: 100px;
}

.not-found {
	font-size: 150px;
	color: #e74c3c;
	margin-bottom: 0;
}

.paragraph-404 {
	font-size: 24px;
	margin-top: 0;
}

.a-404 {
	color: #3498db;
	text-decoration: none;
}

.a-404:hover {
	text-decoration: underline;
}
